#company_detail{ background: #f5f6f8;}
#company_detail .company_info_box{ background: #fff; float: left; padding: 10px; width: calc(100% - 20px); position: relative;}
#company_detail .company_info_box p.name{ font-size: 18px; color:#313131; line-height: 25px; margin: 0px 0px 20px 0px;}
#company_detail .company_info_box img.logo{ position: absolute; right: 10px; top: 10px;}
#company_detail .company_info_box ul{ float: left; width: 100%;}
#company_detail .company_info_box ul li{ float: left; width: 100%; margin: 0 0 10px 0;}
#company_detail .company_info_box ul li i{ float: left; display: inline-block; width: 15px; margin: 0px 5px 0px 0px;}
#company_detail .company_info_box ul li span{ color: #313131; line-height: 16px;}
#company_detail .company_info_box ul li.nature i{ background: url(../images/nature.png); height: 20px; background-size:15px 20px;}
#company_detail .company_info_box ul li.scale i{ background: url(../images/scale.png); height: 14px; background-size:15px 14px;}
#company_detail .company_info_box ul li.website i{ background: url(../images/website.png); height: 14px; background-size:15px 14px;}
#company_detail .company_info_box ul li.address i{ background: url(../images/address.png); height: 20px; background-size:15px 20px;}
#company_detail .company_info_box ul li.address a{ color: #188eee; margin: 0px 0px 0px 5px;}


#company_detail .content_box{ background:#fff; padding: 20px 0px; float: left;  margin: 10px 0px 0px 0px; width: 100%;}
#company_detail .content_box div.tab{ background:#fff; padding: 0px 0px 15px 0; border-bottom: 1px solid #dbdcdd;}
#company_detail .content_box div.tab .content_tab{ display: inline-block; width: 50%; text-align: center; float: left;}
#company_detail .content_box div.tab .content_tab i{ display: inline-block; height: 16px; width: 16px; background: url(../images/company_introduce.png) no-repeat; background-size: 16px 16px;}
#company_detail .content_box div.tab .content_tab span{ display: inline-block; height: 16px; color: #808080; position: relative; top: -3px; left: 5px; font-size: 14px;}

#company_detail .content_box div.tab .jobs_tab{ display: inline-block; width: 50%; text-align: center; float: left;}
#company_detail .content_box div.tab .jobs_tab i{ display: inline-block; height: 16px; width: 11px; background: url(../images/article_jobs.png) no-repeat; background-size: 11px 16px;}
#company_detail .content_box div.tab .jobs_tab span{ display: inline-block; height: 16px; color: #808080; position: relative; top: -3px; left: 5px; font-size: 14px;}


#company_detail .content_box div.tab p.content_tab.hover i{ background: url(../images/company_introduce_h.png) no-repeat; background-size: 16px 16px;}
#company_detail .content_box div.tab p.jobs_tab.hover i{ background: url(../images/article_jobs_h.png) no-repeat; background-size: 11px 16px;}
#company_detail .content_box div.tab .hover span{ color: #188eee;}
#company_detail .content_box div.content{ padding: 20px 10px;}
#company_detail .content_box div.content table *{ color: #999; font-size: 14px; line-height: 25px; max-width: 100%;}
#company_detail .content_box div.jobs{ display: none;}
#company_detail .content_box div.jobs ul li{ float: left; width: calc(100% - 20px); border-bottom: 1px dashed #e4e5e5; padding: 10px;}
#company_detail .content_box div.jobs ul li p.left{ display: inline-block; width: calc(100% - 120px); font-size: 14px; color: #313131; height: 20px; line-height: 20px; overflow: hidden;}
#company_detail .content_box div.jobs ul li p.left a{ font-size: 14px; color: #313131; line-height: 20px;}
#company_detail .content_box div.jobs ul li p.right{ display: inline-block;  width: 120px; font-size: 14px; color: #f3711a; text-align: right;}


#company_detail .img_box{ background: #fff; border-top: 1px solid #dcdcdc;}
#company_detail .img_box .main_visual{height:300px; overflow:hidden; position:relative; left: 5%; background: #fff; padding: 20px 0 20px 0; width: 90%;}
#company_detail .img_box .main_image{height:300px; overflow:hidden; position:relative;}
#company_detail .img_box .main_image ul{width:9999px;height:300px;overflow:hidden;position:absolute;top:0;left:0}
#company_detail .img_box .main_image li{float:left; width: 100%;height:200px; text-align: center;}
#company_detail .img_box .main_image li img{ max-width: 268px; max-height:200px; vertical-align: middle;}
#company_detail .img_box .main_image li a{ max-width:268px;max-height:200px;padding: 8px; line-height: 200px;}



#company_map .map{ width: 100%; height: 500px; position: relative; left: 0; top: 0px;}


